$black-color: #000;
$white-color: #fff;

$green-color: #4cb521;
$red-color: #ed4750;
$yellow-color: #ffdf39;
$grey-color: #e7e7e7;
$dark-grey-color : #777;
$blue-color: #4a90e2;

$primary-font-color: #434343;

$uband-color: #FF4060;
$enroll-course-border-color: #ECECEC;
$input-border-color: #8A8A8A;

$desc-font-color: #9B9B9B;

$first-item-background-color: #EFEFEF;

$audio-time-color: #8A8A8A;

$header-height: 2.5rem;
$footer-height: 2.5rem;

$info-font-color: #8A8A8A;
